/bin/
/database/
/Makefile~

*~
*.orig
*.rej
*.o
*.a
*.so
*.so.*
*.dll
*.exe
*.dylib
*.class
*.zip
*.jar
/mcode/nativelibs/*/bin/*
/mcode/nativelibs/*/lib/*
/mcode/nativelibs/*/lib64/*
/mcode/html/*.html
!/mcode/html/template.html
!/mcode/html/template_bottom.html
/dependencies/jni/aclocal.m4
/dependencies/jni/autom4te.cache/*
/dependencies/jni/configure
/dependencies/jni/config.guess
/dependencies/jni/config.sub
/dependencies/jni/install-sh
/dependencies/jni/ltmain.sh
