/bin/
/database/
/Makefile~

*~
*.orig
*.rej
*.o
*.a
*.so
*.so.*
*.dll
*.exe
*.dylib
*.class
*.zip
*.jar
/mcode/nativelibs/*/bin/*
/mcode/nativelibs/*/lib/*
/mcode/nativelibs/*/lib64/*
/mcode/html/*.html
!/dependencies/ecgpuwave-gfortran-addon.zip
!/mcode/html/template.html
!/mcode/html/template_bottom.html
